<!-- Default home page -->
<div class="container-fluid">
    <ul class="menu">
        <li><a href="#/news">Todas</a></li>
        <li><a href="#/ojogo">OJOGO</a></li>
        <li><a href="#/zerozero">ZeroZero</a></li>
        <li><a href="#/fcporto">FC Porto</a></li>
    </ul>
    <div class="row" style="margin-top: 2%">
        <div class="col-md-12">
            <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
                    href="http://browsehappy.com/">upgrade
                your browser</a> to improve your experience.</p>
            <![endif]-->

            <div ng-view></div>

            <div>FC Porto News app: v<span app-version></span></div>
        </div>
    </div>
</div>
