<table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" class="table table-striped table-bordered" width="100%">
    <thead>
    <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>URL</th>
        <th>Publicar</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="news in allnews" class="{{news.published ? 'success': 'warning'}}">
        <td>{{ news.title }}</td>
        <td>{{ news.description }}</td>
        <td>{{ news.pubDate | date:'yyyy-MM-dd HH:mm' }}</td>
        <td class="center"><a href="{{ news.url }}" target="_blank">Link</a></td>
        <td class="center" ng-if="!news.published"><a ng-click="setPublished(news)" ><span class="glyphicon glyphicon-ok green"></span></a>
        </td>
        <td class="center" ng-if="news.published"></td>
    </tr>
    </tbody>
</table>